# BBC News Article classification

**Business Problem :** Create a classification model which classifiy the article into category

**Dataset location :**[Kaggle](https://www.kaggle.com/c/learn-ai-bbc/data)

**Description from Kaggle :**

Text documents are one of the richest sources of data for businesses.

Weâ€™ll use a public dataset from the BBC comprised of 2225 articles, each labeled under one of 5 categories: business, entertainment, politics, sport or tech.

The dataset is broken into 1490 records for training and 735 for testing. The goal will be to build a system that can accurately classify previously unseen news articles into the right category

**Dataset Description:**

ArticleId - Article id unique # given to the record
Article - text of the header and article
Category - cateogry of the article (tech, business, sport, entertainment, politics/li>

Lets get started,
As this is the text classification NLP problem , we are going to solve this problem with Deep learning library called as Keras

In [48]:
# Import libraries
import pandas as pd
import numpy as np
import re
import collections
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils.np_utils import to_categorical
from sklearn.preprocessing import LabelEncoder
from keras import models
from keras import layers
from tensorflow.python import keras
import keras
from keras.initializers import Constant
from keras.layers import LSTM
import nltk
#nltk.download()
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import pandas_profiling as pp

### Load dataset

In [49]:
data = pd.read_csv('bbc-text.csv')
data.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

## Exploratary Data Analysis

1. Now days, we have library called pandas-profiliing which makes our life more easier for data analysis
2. pandas profilling give all analysis which require for understanding the data.
3. from profilling , we got information like, there is no missing data in dataset, also got target variable distributon and count
4. its look like 99 rows are duplicate in our dataset , lets remove those rows
5. take a copy of dataset and start working on it

In [50]:
pp.ProfileReport(data)

In [51]:
df = data.copy()

In [52]:
%time df.drop_duplicates(subset ="text",keep=False,inplace=True)
df.shape

Wall time: 15 ms

(2027, 2)

In [53]:
df = df.reset_index(drop=True)

In [54]:
df['category'].value_counts()

sport            497
business         496
politics         389
entertainment    352
tech             293
Name: category, dtype: int64

lets look at first article of news and understand to make it clean for next procedure what we need to do.

In [55]:
df['text'][0]

'tv future in the hands of viewers with home theatre systems  plasma high-definition tvs  and digital video recorders moving into the living room  the way people watch tv will be radically different in five years  time.  that is according to an expert panel which gathered at the annual consumer electronics show in las vegas to discuss how these new technologies will impact one of our favourite pastimes. with the us leading the trend  programmes and other content will be delivered to viewers via home networks  through cable  satellite  telecoms companies  and broadband service providers to front rooms and portable devices.  one of the most talked-about technologies of ces has been digital and personal video recorders (dvr and pvr). these set-top boxes  like the us s tivo and the uk s sky+ system  allow people to record  store  play  pause and forward wind tv programmes when they want.  essentially  the technology allows for much more personalised tv. they are also being built-in to high-definition tv sets  which are big business in japan and the us  but slower to take off in europe because of the lack of high-definition programming. not only can people forward wind through adverts  they can also forget about abiding by network and channel schedules  putting together their own a-la-carte entertainment. but some us networks and cable and satellite companies are worried about what it means for them in terms of advertising revenues as well as  brand identity  and viewer loyalty to channels. although the us leads in this technology at the moment  it is also a concern that is being raised in europe  particularly with the growing uptake of services like sky+.  what happens here today  we will see in nine months to a years  time in the uk   adam hume  the bbc broadcast s futurologist told the bbc news website. for the likes of the bbc  there are no issues of lost advertising revenue yet. it is a more pressing issue at the moment for commercial uk broadcasters  but brand loyalty is important for everyone.  we will be talking more about content brands rather than network brands   said tim hanlon  from brand communications firm starcom mediavest.  the reality is that with broadband connections  anybody can be the producer of content.  he added:  the challenge now is that it is hard to promote a programme with so much choice.   what this means  said stacey jolna  senior vice president of tv guide tv group  is that the way people find the content they want to watch has to be simplified for tv viewers. it means that networks  in us terms  or channels could take a leaf out of google s book and be the search engine of the future  instead of the scheduler to help people find what they want to watch. this kind of channel model might work for the younger ipod generation which is used to taking control of their gadgets and what they play on them. but it might not suit everyone  the panel recognised. older generations are more comfortable with familiar schedules and channel brands because they know what they are getting. they perhaps do not want so much of the choice put into their hands  mr hanlon suggested.  on the other end  you have the kids just out of diapers who are pushing buttons already - everything is possible and available to them   said mr hanlon.  ultimately  the consumer will tell the market they want.   of the 50 000 new gadgets and technologies being showcased at ces  many of them are about enhancing the tv-watching experience. high-definition tv sets are everywhere and many new models of lcd (liquid crystal display) tvs have been launched with dvr capability built into them  instead of being external boxes. one such example launched at the show is humax s 26-inch lcd tv with an 80-hour tivo dvr and dvd recorder. one of the us s biggest satellite tv companies  directtv  has even launched its own branded dvr at the show with 100-hours of recording capability  instant replay  and a search function. the set can pause and rewind tv for up to 90 hours. and microsoft chief bill gates announced in his pre-show keynote speech a partnership with tivo  called tivotogo  which means people can play recorded programmes on windows pcs and mobile devices. all these reflect the increasing trend of freeing up multimedia so that people can watch what they want  when they want.'

## Removing stopwords

In [56]:
## Text cleaning
## Remove stopwords
def stopword(data):
    
    stopwordlist= stopwords.words('english')
    
    data = data.split()
    clean_data = [word for word in data if (word not in stopwordlist)]
    return " ".join(clean_data)

In [57]:
df.text = df.text.apply(stopword)

In [58]:
df.text[0]

'tv future hands viewers home theatre systems plasma high-definition tvs digital video recorders moving living room way people watch tv radically different five years time. according expert panel gathered annual consumer electronics show las vegas discuss new technologies impact one favourite pastimes. us leading trend programmes content delivered viewers via home networks cable satellite telecoms companies broadband service providers front rooms portable devices. one talked-about technologies ces digital personal video recorders (dvr pvr). set-top boxes like us tivo uk sky+ system allow people record store play pause forward wind tv programmes want. essentially technology allows much personalised tv. also built-in high-definition tv sets big business japan us slower take europe lack high-definition programming. people forward wind adverts also forget abiding network channel schedules putting together a-la-carte entertainment. us networks cable satellite companies worried means terms advertising revenues well brand identity viewer loyalty channels. although us leads technology moment also concern raised europe particularly growing uptake services like sky+. happens today see nine months years time uk adam hume bbc broadcast futurologist told bbc news website. likes bbc issues lost advertising revenue yet. pressing issue moment commercial uk broadcasters brand loyalty important everyone. talking content brands rather network brands said tim hanlon brand communications firm starcom mediavest. reality broadband connections anybody producer content. added: challenge hard promote programme much choice. means said stacey jolna senior vice president tv guide tv group way people find content want watch simplified tv viewers. means networks us terms channels could take leaf google book search engine future instead scheduler help people find want watch. kind channel model might work younger ipod generation used taking control gadgets play them. might suit everyone panel recognised. older generations comfortable familiar schedules channel brands know getting. perhaps want much choice put hands mr hanlon suggested. end kids diapers pushing buttons already - everything possible available said mr hanlon. ultimately consumer tell market want. 50 000 new gadgets technologies showcased ces many enhancing tv-watching experience. high-definition tv sets everywhere many new models lcd (liquid crystal display) tvs launched dvr capability built instead external boxes. one example launched show humax 26-inch lcd tv 80-hour tivo dvr dvd recorder. one us biggest satellite tv companies directtv even launched branded dvr show 100-hours recording capability instant replay search function. set pause rewind tv 90 hours. microsoft chief bill gates announced pre-show keynote speech partnership tivo called tivotogo means people play recorded programmes windows pcs mobile devices. reflect increasing trend freeing multimedia people watch want want.'

## Using textblob work on root of the word with help of lemmatization

In [59]:
### lemmitization
from textblob import Word
def lem_apply(data):
    
    data=data.split()
    new_data = [Word(word).lemmatize()  for word in data]
    return " ".join(new_data)

In [60]:
df.text = df.text.apply(lem_apply)

In [61]:
df.text[0]

'tv future hand viewer home theatre system plasma high-definition tv digital video recorder moving living room way people watch tv radically different five year time. according expert panel gathered annual consumer electronics show la vega discus new technology impact one favourite pastimes. u leading trend programme content delivered viewer via home network cable satellite telecom company broadband service provider front room portable devices. one talked-about technology ce digital personal video recorder (dvr pvr). set-top box like u tivo uk sky+ system allow people record store play pause forward wind tv programme want. essentially technology allows much personalised tv. also built-in high-definition tv set big business japan u slower take europe lack high-definition programming. people forward wind advert also forget abiding network channel schedule putting together a-la-carte entertainment. u network cable satellite company worried mean term advertising revenue well brand identity viewer loyalty channels. although u lead technology moment also concern raised europe particularly growing uptake service like sky+. happens today see nine month year time uk adam hume bbc broadcast futurologist told bbc news website. like bbc issue lost advertising revenue yet. pressing issue moment commercial uk broadcaster brand loyalty important everyone. talking content brand rather network brand said tim hanlon brand communication firm starcom mediavest. reality broadband connection anybody producer content. added: challenge hard promote programme much choice. mean said stacey jolna senior vice president tv guide tv group way people find content want watch simplified tv viewers. mean network u term channel could take leaf google book search engine future instead scheduler help people find want watch. kind channel model might work younger ipod generation used taking control gadget play them. might suit everyone panel recognised. older generation comfortable familiar schedule channel brand know getting. perhaps want much choice put hand mr hanlon suggested. end kid diaper pushing button already - everything possible available said mr hanlon. ultimately consumer tell market want. 50 000 new gadget technology showcased ce many enhancing tv-watching experience. high-definition tv set everywhere many new model lcd (liquid crystal display) tv launched dvr capability built instead external boxes. one example launched show humax 26-inch lcd tv 80-hour tivo dvr dvd recorder. one u biggest satellite tv company directtv even launched branded dvr show 100-hours recording capability instant replay search function. set pause rewind tv 90 hours. microsoft chief bill gate announced pre-show keynote speech partnership tivo called tivotogo mean people play recorded programme window pc mobile devices. reflect increasing trend freeing multimedia people watch want want.'

## dataset splitting for training & Testing

In [62]:
X_train, X_test, Y_train, Y_test = train_test_split(df.text, df.category, test_size=0.2, random_state=37)

## Tokenizer and filtering with keras

1. out of the all words we are taking on 10000 words
2. with keras API of Tokenizer which tokenize the sentence also do data cleaning and split the data

In [63]:
size_words=10000
ks_tok = Tokenizer(num_words=size_words,filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n0123456789',lower=True,split=" ")
ks_tok.fit_on_texts(X_train)

## converting the word into sequence of number

In [64]:
X_train_seq = ks_tok.texts_to_sequences(X_train) # convert each sentence into number 
X_test_seq = ks_tok.texts_to_sequences(X_test)

In [65]:
max_count = X_train.apply(lambda x: len(x.split(' ')))
max_count.describe()

count    1621.000000
mean      225.090685
std       137.161430
min        49.000000
25%       144.000000
50%       196.000000
75%       275.000000
max      2278.000000
Name: text, dtype: float64

## Padding
Adding zero to each sentence and making it equal to sentence of maximum lenght

In [66]:
X_train_seq_trunc = pad_sequences(X_train_seq, maxlen=2278)
X_test_seq_trunc = pad_sequences(X_test_seq, maxlen=2278)
X_test_seq_trunc[0]

array([   0,    0,    0, ..., 1545,  424,  137])

## Encoding the target feature in number

In [67]:
le = LabelEncoder()
y_train_le = le.fit_transform(Y_train)
y_test_le = le.transform(Y_test)
y_train_oh = to_categorical(y_train_le)
y_test_oh = to_categorical(y_test_le)

## Neural Network with Keras
1. we are using functional API of keras to build model
2. Initially we add input layer which take input with size of max 2278
3. then we add embedding layer of max word which we have earlier decided 
4. use dropout and flattern to make input sequencially
5. output layer with dense 5 which is equal to number of unique target feature and will use softmax as activation function
6. then, we have to compile our model and below is the overall summary of model.

In [45]:
deep_inputs = layers.Input(shape=(2278,))
embedding= layers.Embedding(10000 , 8 ,input_length=2278 )(deep_inputs)
embedding = layers.Dropout(0.5)(embedding)
#embedding = layers.Dense(100, activation='sigmoid')(embedding)
embedding = layers.Flatten()(embedding)
embedding_out = layers.Dense(5, activation='softmax')(embedding)
deep_model = keras.Model(inputs=deep_inputs,outputs=embedding_out)
deep_model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])
deep_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         (None, 2278)              0
_________________________________________________________________
embedding_2 (Embedding)      (None, 2278, 8)           80000
_________________________________________________________________
dropout_2 (Dropout)          (None, 2278, 8)           0
_________________________________________________________________
flatten_2 (Flatten)          (None, 18224)             0
_________________________________________________________________
dense_2 (Dense)              (None, 5)                 91125
=================================================================
Total params: 171,125
Trainable params: 171,125
Non-trainable params: 0
_________________________________________________________________

## Train the model on training data 
we can change epoch and batch_size according to our requirement , we also need to check model performance on different value of epoch and batch_size

In [46]:
deep_model.fit(X_train_seq_trunc,y_train_oh,epochs=50,batch_size=512)

Epoch 1/50
1621/1621 [==============================] - 2s 1ms/step - loss: 1.7642 - acc: 0.2054
Epoch 2/50
1621/1621 [==============================] - 1s 788us/step - loss: 1.5620 - acc: 0.2893
Epoch 3/50
1621/1621 [==============================] - 1s 767us/step - loss: 1.5200 - acc: 0.3171
Epoch 4/50
1621/1621 [==============================] - 1s 769us/step - loss: 1.4943 - acc: 0.4078
Epoch 5/50
1621/1621 [==============================] - 1s 711us/step - loss: 1.4374 - acc: 0.3701
Epoch 6/50
1621/1621 [==============================] - 1s 628us/step - loss: 1.3865 - acc: 0.4701
Epoch 7/50
1621/1621 [==============================] - 1s 728us/step - loss: 1.3200 - acc: 0.5713
Epoch 8/50
1621/1621 [==============================] - 1s 680us/step - loss: 1.2801 - acc: 0.4898
Epoch 9/50
1621/1621 [==============================] - 1s 734us/step - loss: 1.2300 - acc: 0.5460
Epoch 10/50
1621/1621 [==============================] - 1s 788us/step - loss: 1.1750 - acc: 0.5830
Epoch 11/50
1621/1621 [==============================] - 1s 760us/step - loss: 1.0988 - acc: 0.6144
Epoch 12/50
1621/1621 [==============================] - 1s 787us/step - loss: 1.0607 - acc: 0.6638
Epoch 13/50
1621/1621 [==============================] - 1s 776us/step - loss: 1.0068 - acc: 0.6848
Epoch 14/50
1621/1621 [==============================] - 1s 784us/step - loss: 0.9499 - acc: 0.7168
Epoch 15/50
1621/1621 [==============================] - 1s 803us/step - loss: 0.8915 - acc: 0.7390
Epoch 16/50
1621/1621 [==============================] - 1s 786us/step - loss: 0.8401 - acc: 0.7909
Epoch 17/50
1621/1621 [==============================] - 1s 758us/step - loss: 0.7873 - acc: 0.8297
Epoch 18/50
1621/1621 [==============================] - 1s 767us/step - loss: 0.7399 - acc: 0.8396
Epoch 19/50
1621/1621 [==============================] - 1s 755us/step - loss: 0.6928 - acc: 0.8489
Epoch 20/50
1621/1621 [==============================] - 1s 784us/step - loss: 0.6412 - acc: 0.8945
Epoch 21/50
1621/1621 [==============================] - 1s 756us/step - loss: 0.5996 - acc: 0.9087
Epoch 22/50
1621/1621 [==============================] - 1s 755us/step - loss: 0.5561 - acc: 0.9204
Epoch 23/50
1621/1621 [==============================] - 1s 774us/step - loss: 0.5134 - acc: 0.9377
Epoch 24/50
1621/1621 [==============================] - 1s 770us/step - loss: 0.4682 - acc: 0.9482
Epoch 25/50
1621/1621 [==============================] - 1s 722us/step - loss: 0.4327 - acc: 0.9500
Epoch 26/50
1621/1621 [==============================] - 1s 745us/step - loss: 0.3972 - acc: 0.9556
Epoch 27/50
1621/1621 [==============================] - 1s 640us/step - loss: 0.3627 - acc: 0.9568
Epoch 28/50
1621/1621 [==============================] - 1s 663us/step - loss: 0.3354 - acc: 0.9642
Epoch 29/50
1621/1621 [==============================] - 1s 681us/step - loss: 0.3023 - acc: 0.9778
Epoch 30/50
1621/1621 [==============================] - 1s 719us/step - loss: 0.2761 - acc: 0.9809
Epoch 31/50
1621/1621 [==============================] - 1s 742us/step - loss: 0.2497 - acc: 0.9821
Epoch 32/50
1621/1621 [==============================] - 1s 750us/step - loss: 0.2271 - acc: 0.9846
Epoch 33/50
1621/1621 [==============================] - 1s 765us/step - loss: 0.2086 - acc: 0.9883
Epoch 34/50
1621/1621 [==============================] - 1s 779us/step - loss: 0.1897 - acc: 0.9889
Epoch 35/50
1621/1621 [==============================] - 1s 762us/step - loss: 0.1687 - acc: 0.9895
Epoch 36/50
1621/1621 [==============================] - 1s 774us/step - loss: 0.1581 - acc: 0.9895
Epoch 37/50
1621/1621 [==============================] - 1s 755us/step - loss: 0.1421 - acc: 0.9938
Epoch 38/50
1621/1621 [==============================] - 1s 748us/step - loss: 0.1264 - acc: 0.9932
Epoch 39/50
1621/1621 [==============================] - 1s 757us/step - loss: 0.1160 - acc: 0.9944
Epoch 40/50
1621/1621 [==============================] - 1s 749us/step - loss: 0.1060 - acc: 0.9944
Epoch 41/50
1621/1621 [==============================] - 1s 785us/step - loss: 0.0954 - acc: 0.9969
Epoch 42/50
1621/1621 [==============================] - 1s 753us/step - loss: 0.0830 - acc: 0.9975
Epoch 43/50
1621/1621 [==============================] - 1s 752us/step - loss: 0.0770 - acc: 0.9969
Epoch 44/50
1621/1621 [==============================] - 1s 740us/step - loss: 0.0678 - acc: 0.9975
Epoch 45/50
1621/1621 [==============================] - 1s 777us/step - loss: 0.0644 - acc: 0.9975
Epoch 46/50
1621/1621 [==============================] - 1s 745us/step - loss: 0.0576 - acc: 0.9988
Epoch 47/50
1621/1621 [==============================] - 1s 761us/step - loss: 0.0517 - acc: 0.9981
Epoch 48/50
1621/1621 [==============================] - 1s 725us/step - loss: 0.0459 - acc: 0.9988
Epoch 49/50
1621/1621 [==============================] - 1s 748us/step - loss: 0.0425 - acc: 0.9981
Epoch 50/50
1621/1621 [==============================] - 1s 749us/step - loss: 0.0391 - acc: 0.9994

## Model evaluation on training data

In [47]:
result=deep_model.evaluate(X_train_seq_trunc,y_train_oh)
result

1621/1621 [==============================] - 0s 203us/step

[0.031847974345235085, 1.0]

## Model evaluation on Testing data

In [48]:
result=deep_model.evaluate(X_test_seq_trunc,y_test_oh)
result

406/406 [==============================] - 0s 61us/step

[0.13823234855101027, 0.9704433497536946]

## Model building with CNN with keras

In [49]:

deep_inputs = layers.Input(shape=(2278,))
embedding= layers.Embedding(10000 , 8 ,input_length=2278 )(deep_inputs)
embedding = layers.Conv1D(256, 5, activation='relu')(embedding)
embedding = layers.GlobalMaxPooling1D()(embedding)
#embedding = layers.Dense(128, activation='relu')(embedding)
#embedding = layers.Dropout(0.5)(embedding)
#embedding = layers.Flatten()(embedding)
embedding_out = layers.Dense(5, activation='softmax')(embedding)
deep_model_CNN = keras.Model(inputs=deep_inputs,outputs=embedding_out)
deep_model_CNN.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])
deep_model_CNN.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         (None, 2278)              0
_________________________________________________________________
embedding_3 (Embedding)      (None, 2278, 8)           80000
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 2274, 256)         10496
_________________________________________________________________
global_max_pooling1d_1 (Glob (None, 256)               0
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 1285
=================================================================
Total params: 91,781
Trainable params: 91,781
Non-trainable params: 0
_________________________________________________________________

## Train the model on training data CNN

In [50]:
deep_model_CNN.fit(X_train_seq_trunc,y_train_oh,epochs=50,batch_size=512)

WARNING:tensorflow:From C:\Project\anaconda3\lib\site-packages\tensorflow\python\ops\math_grad.py:102: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.
Epoch 1/50
1621/1621 [==============================] - 34s 21ms/step - loss: 1.6016 - acc: 0.2517
Epoch 2/50
1621/1621 [==============================] - 32s 20ms/step - loss: 1.5828 - acc: 0.2517
Epoch 3/50
1621/1621 [==============================] - 31s 19ms/step - loss: 1.5719 - acc: 0.2893
Epoch 4/50
1621/1621 [==============================] - 30s 18ms/step - loss: 1.5626 - acc: 0.2647
Epoch 5/50
1621/1621 [==============================] - 31s 19ms/step - loss: 1.5511 - acc: 0.2566
Epoch 6/50
1621/1621 [==============================] - 28s 18ms/step - loss: 1.5354 - acc: 0.3961
Epoch 7/50
1621/1621 [==============================] - 28s 17ms/step - loss: 1.5147 - acc: 0.4534
Epoch 8/50
1621/1621 [==============================] - 28s 17ms/step - loss: 1.4882 - acc: 0.4775
Epoch 9/50
1621/1621 [==============================] - 31s 19ms/step - loss: 1.4555 - acc: 0.4911
Epoch 10/50
1621/1621 [==============================] - 31s 19ms/step - loss: 1.4164 - acc: 0.4892
Epoch 11/50
1621/1621 [==============================] - 31s 19ms/step - loss: 1.3730 - acc: 0.5281
Epoch 12/50
1621/1621 [==============================] - 30s 19ms/step - loss: 1.3246 - acc: 0.5312
Epoch 13/50
1621/1621 [==============================] - 31s 19ms/step - loss: 1.2723 - acc: 0.6027
Epoch 14/50
1621/1621 [==============================] - 32s 20ms/step - loss: 1.2157 - acc: 0.6650
Epoch 15/50
1621/1621 [==============================] - 32s 20ms/step - loss: 1.1573 - acc: 0.7119
Epoch 16/50
1621/1621 [==============================] - 30s 18ms/step - loss: 1.0961 - acc: 0.7465
Epoch 17/50
1621/1621 [==============================] - 30s 18ms/step - loss: 1.0332 - acc: 0.7816
Epoch 18/50
1621/1621 [==============================] - 32s 19ms/step - loss: 0.9694 - acc: 0.7927
Epoch 19/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.9073 - acc: 0.8020
Epoch 20/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.8444 - acc: 0.8168
Epoch 21/50
1621/1621 [==============================] - 32s 19ms/step - loss: 0.7845 - acc: 0.8402
Epoch 22/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.7262 - acc: 0.8606
Epoch 23/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.6706 - acc: 0.8840
Epoch 24/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.6172 - acc: 0.9001
Epoch 25/50
1621/1621 [==============================] - 32s 20ms/step - loss: 0.5675 - acc: 0.9105
Epoch 26/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.5201 - acc: 0.9229
Epoch 27/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.4749 - acc: 0.9457
Epoch 28/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.4325 - acc: 0.9519
Epoch 29/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.3929 - acc: 0.9729
Epoch 30/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.3552 - acc: 0.9784
Epoch 31/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.3210 - acc: 0.9852
Epoch 32/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.2889 - acc: 0.9864
Epoch 33/50
1621/1621 [==============================] - 31s 19ms/step - loss: 0.2590 - acc: 0.9889
Epoch 34/50
1621/1621 [==============================] - 27s 17ms/step - loss: 0.2313 - acc: 0.9907
Epoch 35/50
1621/1621 [==============================] - 5733s 4s/step - loss: 0.2064 - acc: 0.9920
Epoch 36/50
1621/1621 [==============================] - 21s 13ms/step - loss: 0.1845 - acc: 0.9920
Epoch 37/50
1621/1621 [==============================] - 20s 13ms/step - loss: 0.1641 - acc: 0.9932
Epoch 38/50
1621/1621 [==============================] - 21s 13ms/step - loss: 0.1446 - acc: 0.9938
Epoch 39/50
1621/1621 [==============================] - 25s 15ms/step - loss: 0.1278 - acc: 0.9944
Epoch 40/50
1621/1621 [==============================] - 21s 13ms/step - loss: 0.1130 - acc: 0.9951
Epoch 41/50
1621/1621 [==============================] - 22s 14ms/step - loss: 0.0988 - acc: 0.9951
Epoch 42/50
1621/1621 [==============================] - 22s 14ms/step - loss: 0.0869 - acc: 0.9957
Epoch 43/50
1621/1621 [==============================] - 22s 14ms/step - loss: 0.0759 - acc: 0.9963
Epoch 44/50
1621/1621 [==============================] - 22s 14ms/step - loss: 0.0665 - acc: 0.9969
Epoch 45/50
1621/1621 [==============================] - 22s 14ms/step - loss: 0.0584 - acc: 0.9975
Epoch 46/50
1621/1621 [==============================] - 22s 13ms/step - loss: 0.0504 - acc: 0.9975
Epoch 47/50
1621/1621 [==============================] - 22s 13ms/step - loss: 0.0441 - acc: 0.9981
Epoch 48/50
1621/1621 [==============================] - 22s 13ms/step - loss: 0.0381 - acc: 0.9988
Epoch 49/50
1621/1621 [==============================] - 21s 13ms/step - loss: 0.0330 - acc: 0.9988
Epoch 50/50
1621/1621 [==============================] - 21s 13ms/step - loss: 0.0286 - acc: 0.9988

## Model evaluation on training data CNN

In [51]:
result=deep_model_CNN.evaluate(X_train_seq_trunc,y_train_oh)
result

1621/1621 [==============================] - 3s 2ms/step

[0.024931464101808958, 0.9987661937075879]

## Model evaluation on training data CNN

In [52]:
result=deep_model_CNN.evaluate(X_test_seq_trunc,y_test_oh)
result

406/406 [==============================] - 1s 2ms/step

[0.1439388860475841, 0.9581280779368772]

## Model building using GRU

In [29]:
deep_inputs = layers.Input(shape=(2278,))
embedding= layers.Embedding(10000 , 8 ,input_length=2278 )(deep_inputs)
embedding = layers.GRU(100,dropout=0.5, recurrent_dropout=0.5)(embedding)
#embedding = layers.Dense(256, activation='sigmoid')(embedding)
#embedding = layers.Dropout(0.5)(embedding)
#embedding = layers.Flatten()(embedding)
embedding_out = layers.Dense(5, activation='softmax')(embedding)
deep_model_gru = keras.Model(inputs=deep_inputs,outputs=embedding_out)
deep_model_gru.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])
deep_model_gru.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         (None, 2278)              0
_________________________________________________________________
embedding_3 (Embedding)      (None, 2278, 8)           80000
_________________________________________________________________
gru_1 (GRU)                  (None, 100)               32700
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 505
=================================================================
Total params: 113,205
Trainable params: 113,205
Non-trainable params: 0
_________________________________________________________________

In [30]:
deep_model_gru.fit(X_train_seq_trunc,y_train_oh,epochs=50,batch_size=512)

Epoch 1/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.6074 - acc: 0.2090
Epoch 2/50
1780/1780 [==============================] - 19s 11ms/step - loss: 1.6019 - acc: 0.2354
Epoch 3/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.5968 - acc: 0.2320
Epoch 4/50
1780/1780 [==============================] - 22s 12ms/step - loss: 1.5912 - acc: 0.2478
Epoch 5/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.5817 - acc: 0.2365
Epoch 6/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.5673 - acc: 0.2545
Epoch 7/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.5465 - acc: 0.3051
Epoch 8/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.5182 - acc: 0.3433
Epoch 9/50
1780/1780 [==============================] - 21s 12ms/step - loss: 1.4849 - acc: 0.4612
Epoch 10/50
1780/1780 [==============================] - 21s 12ms/step - loss: 1.4568 - acc: 0.4596
Epoch 11/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.4238 - acc: 0.5107
Epoch 12/50
1780/1780 [==============================] - 22s 12ms/step - loss: 1.3912 - acc: 0.5472
Epoch 13/50
1780/1780 [==============================] - 21s 12ms/step - loss: 1.3515 - acc: 0.5494
Epoch 14/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.3155 - acc: 0.5787
Epoch 15/50
1780/1780 [==============================] - 21s 12ms/step - loss: 1.2934 - acc: 0.5921
Epoch 16/50
1780/1780 [==============================] - 21s 12ms/step - loss: 1.2750 - acc: 0.6022
Epoch 17/50
1780/1780 [==============================] - 21s 12ms/step - loss: 1.2251 - acc: 0.6079
Epoch 18/50
1780/1780 [==============================] - 21s 12ms/step - loss: 1.2076 - acc: 0.6281
Epoch 19/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.1816 - acc: 0.6028
Epoch 20/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.1357 - acc: 0.6348
Epoch 21/50
1780/1780 [==============================] - 21s 12ms/step - loss: 1.1205 - acc: 0.6062
Epoch 22/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.0826 - acc: 0.6281
Epoch 23/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.0544 - acc: 0.6433
Epoch 24/50
1780/1780 [==============================] - 21s 12ms/step - loss: 1.0567 - acc: 0.6360
Epoch 25/50
1780/1780 [==============================] - 20s 11ms/step - loss: 1.0333 - acc: 0.6410
Epoch 26/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.9918 - acc: 0.6528
Epoch 27/50
1780/1780 [==============================] - 22s 12ms/step - loss: 0.9818 - acc: 0.6449
Epoch 28/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.9555 - acc: 0.6629
Epoch 29/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.9234 - acc: 0.6809
Epoch 30/50
1780/1780 [==============================] - 21s 12ms/step - loss: 0.8832 - acc: 0.6949
Epoch 31/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.8863 - acc: 0.6921
Epoch 32/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.8769 - acc: 0.6955
Epoch 33/50
1780/1780 [==============================] - 21s 12ms/step - loss: 0.8504 - acc: 0.6876
Epoch 34/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.8185 - acc: 0.7096
Epoch 35/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.7903 - acc: 0.7208
Epoch 36/50
1780/1780 [==============================] - 21s 12ms/step - loss: 0.7980 - acc: 0.7101
Epoch 37/50
1780/1780 [==============================] - 20s 12ms/step - loss: 0.7642 - acc: 0.7376
Epoch 38/50
1780/1780 [==============================] - 21s 12ms/step - loss: 0.7438 - acc: 0.7522
Epoch 39/50
1780/1780 [==============================] - 22s 12ms/step - loss: 0.7245 - acc: 0.7539
Epoch 40/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.6741 - acc: 0.7652
Epoch 41/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.6855 - acc: 0.7511
Epoch 42/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.6759 - acc: 0.7663
Epoch 43/50
1780/1780 [==============================] - 19s 11ms/step - loss: 0.6668 - acc: 0.7657
Epoch 44/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.6412 - acc: 0.7753
Epoch 45/50
1780/1780 [==============================] - 21s 12ms/step - loss: 0.5951 - acc: 0.7921
Epoch 46/50
1780/1780 [==============================] - 19s 11ms/step - loss: 0.6084 - acc: 0.7809
Epoch 47/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.6099 - acc: 0.7893
Epoch 48/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.5693 - acc: 0.8124
Epoch 49/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.5692 - acc: 0.7904
Epoch 50/50
1780/1780 [==============================] - 20s 11ms/step - loss: 0.5368 - acc: 0.8202

## model evaluation on testing data using GRU

In [31]:
result=deep_model_gru.evaluate(X_test_seq_trunc,y_test_oh)
result

445/445 [==============================] - 5s 11ms/step

[0.7343408161334777, 0.7685393275839559]

In [69]:
## LSTM 
deep_inputs = layers.Input(shape=(2278,))
embedding= layers.Embedding(10000 , 8 ,input_length=2278 )(deep_inputs)
embedding = layers.LSTM(100,dropout=0.5, recurrent_dropout=0.5)(embedding)
#embedding = layers.Dense(256, activation='sigmoid')(embedding)
#embedding = layers.Dropout(0.5)(embedding)
#embedding = layers.Flatten()(embedding)
embedding_out = layers.Dense(5, activation='softmax')(embedding)
deep_model_lstm = keras.Model(inputs=deep_inputs,outputs=embedding_out)
deep_model_lstm.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])
deep_model_lstm.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         (None, 2278)              0
_________________________________________________________________
embedding_3 (Embedding)      (None, 2278, 8)           80000
_________________________________________________________________
lstm_3 (LSTM)                (None, 100)               43600
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 505
=================================================================
Total params: 124,105
Trainable params: 124,105
Non-trainable params: 0
_________________________________________________________________

In [28]:
deep_model_lstm.fit(X_train_seq_trunc,y_train_oh,epochs=10,batch_size=512)

Epoch 1/10
1621/1621 [==============================] - 23s 14ms/step - loss: 0.3386 - acc: 0.8902
Epoch 2/10
1621/1621 [==============================] - 25s 15ms/step - loss: 0.3398 - acc: 0.8927
Epoch 3/10
1621/1621 [==============================] - 25s 15ms/step - loss: 0.2801 - acc: 0.9241
Epoch 4/10
1621/1621 [==============================] - 24s 15ms/step - loss: 0.3077 - acc: 0.9013
Epoch 5/10
1621/1621 [==============================] - 24s 15ms/step - loss: 0.2800 - acc: 0.9124
Epoch 6/10
1621/1621 [==============================] - 22s 14ms/step - loss: 0.3004 - acc: 0.9038
Epoch 7/10
1621/1621 [==============================] - 22s 14ms/step - loss: 0.2748 - acc: 0.9124
Epoch 8/10
1621/1621 [==============================] - 22s 14ms/step - loss: 0.2928 - acc: 0.9050
Epoch 9/10
1621/1621 [==============================] - 22s 14ms/step - loss: 0.2952 - acc: 0.9062
Epoch 10/10
1621/1621 [==============================] - 24s 15ms/step - loss: 0.2521 - acc: 0.9266

In [70]:
deep_model_lstm.evaluate(X_test_seq_trunc,y_test_oh)

406/406 [==============================] - 6s 14ms/step

[1.6093975376025798, 0.19211822682119942]

## Model selection

### Model       Result 
1.   NN     = >  97.04%
2.   CNN    =>   96.41%
3.   GRU    =>   76.85%
4.   LSTM   =>   73%
5.   Bidire =>


we can try other model and evaluate model but due to RAM and processor is not that much effifcient of my system , it will take lot of time to train the model.

So we will finalize NN to go further to create API for this model.
again we can optimize the result using hyperparameter tuning but I guess we have already achieved good result and for increasing it for 1 2 % we dont need to add much lines of code.